* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    padding: 100px 150px;
}

a {
    text-decoration: none;
    list-style: none    ;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

@keyframes translate {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-10px, -5px);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}
