@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$bg-color: #EEEEEE;
$description-gray: rgba(255, 255, 255, 0.7);

$gray: #464547;
$second-gray: #666666;

$btn-blue: #55C2D8;
$polygon-blue: #39C2D7;
